<!DOCTYPE html>
<html>
<head>
<title>>Raspberry Pi 2 py2web server</title>
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/style.css')}}">
<link rel="shortcut icon" href="{{=URL('static', 'images/pi.ico')}}">

<!-- Google JS libraries  -->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart', 'timeline']}]}"></script>

<!-- Refactor to .js eventually.-->
<script>
google.load('visualization', '1', {packages: ['corechart']});
google.setOnLoadCallback(drawChart);

 // Global constants
var g_fullAddress = "http://nathankrueger.duckdns.org:9999/blink_led/default/cycle";

// Global variables
var maxTemp = -1000;
var minTemp = 1000;
var chart = null;
var chart_data = new google.visualization.DataTable();
chart_data.addColumn('timeofday', 'Time of Day');
chart_data.addColumn('number', 'Temp (f)');
var chart_options = {
    title: 'Ambient Temp Graph',
    curveType: 'function',
    legend: { position: 'bottom' },
    colors: [ '#FF0000' ],
    vAxis: {
        minValue: 65,
        maxValue: 75,
        textStyle:{color: '#32CD32'},
        gridlines:{color: '#32CD32'},
    },
    hAxis: {
        textStyle:{color: '#32CD32'},
        gridlines:{color: '#32CD32'}
    },
    backgroundColor: { fill: "#000000" },
    legendTextStyle: { color: '#32CD32' },
    titleTextStyle: { color: '#32CD32' }
};

// Setup onLoad behavior
window.onload = onWindowLoad();

// Setup timer callbacks
setInterval(timer_callback, 3000);
setInterval(status_text_callback, 1000);
setInterval(header_color_callback, 100);
// Chart Callback
setInterval(drawChart, 500);

// Functions
function onWindowLoad()
{
    updateStatus();
}

function timer_callback()
{
    updateStatus();
}

function status_text_callback()
{
    var newText = document.getElementById("status_header").innerHTML;
    newText += ".";
    if (newText == "Status....")
        newText = "Status"

    document.getElementById("status_header").innerHTML = newText;
}

var dir = 0;
function header_color_callback()
{
    header_color_callback.max = 255;
    header_color_callback.min = 50;
    var color_str = document.getElementById("main_header").style.color;
    var re =  /(rgb\(\d+,\s)(\d+)(,\s\d+\))/g;
    var match = re.exec(color_str);
    var match_int = parseInt(match[2]);
    
    if(dir == 0)
    {
        if(match_int > header_color_callback.min)
        {
            match_int--;
        }
        else
        {
            dir = 1;
        }
    }
    else
    {
        if(match_int < header_color_callback.max)
        {
            match_int++;
        }
        else
        {
            dir = 0;
        }
    }

    var new_color_str = match[1] + match_int.toString() + match[3];
    document.getElementById("main_header").style.color = new_color_str;
}

function updateStatus()
{
    httpGetAsync("cputempf", updateCpuTempFLabelCallback);
    httpGetAsync("gputempf", updateGpuTempFLabelCallback);
    httpGetAsync("ambient_tempf_pressureb", updateAmbientTempFAndPressureBCallback);
}

function updateCpuTempFLabelCallback(temp_f)
{
    var newVal = "CPU Temp (F): " + temp_f;
    document.getElementById("cpu_temp_p").innerHTML = newVal;
}

function updateGpuTempFLabelCallback(temp_f)
{
    var newVal = "GPU Temp (F): " + temp_f;
    document.getElementById("gpu_temp_p").innerHTML = newVal;
}

function updateAmbientTempFAndPressureBCallback(resp)
{
    // Grab the current time
    var currDate = new Date();

    // Parse the response from the server
    var resp_list = resp.split(/\r?\n/);
    temp_f = resp_list[0];
    pressure_b = resp_list[1];

    if (parseFloat(temp_f) > maxTemp)
        maxTemp = parseFloat(temp_f)

    else if (parseFloat(temp_f) < minTemp)
        minTemp = parseFloat(temp_f)

    // Push to the graph
    chart_data.addRows([[[currDate.getHours(), currDate.getMinutes(), currDate.getSeconds()],parseFloat(temp_f)]]);    

    // Update the status fields
    var newTVal = "Ambient Temp (F): " + temp_f;
    document.getElementById("ambient_temp_f_p").innerHTML = newTVal;

    var newPVal = "Ambient Pressure (Bar): " + pressure_b;
    document.getElementById("ambient_pressure_b_p").innerHTML = newPVal;
}

function visitLink(theUrl)
{
	console.log("Visitng link: " + theUrl);
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.open("GET", theUrl, true); // true for asynchronous 
	xmlHttp.send(null);
}

// Stolen from stackoverflow.com
function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}

function visitCycleLink()
{
    var theUrl = "cycle";
    var rate = document.getElementById("rate").value;
    theUrl = theUrl + "?rate=" + rate;
    visitLink(theUrl);
}

function readPinState()
{
    var theUrl = "read";
    var pinNum = document.getElementById("input_pin_input").value;
    theUrl = theUrl + "?pin=" + pinNum;
    httpGetAsync(theUrl, updatePinStateLabelCallback);
}

function updatePinStateLabelCallback(pin_state)
{
    var newVal = "Input Value: " + pin_state;
    document.getElementById("input_val_p").innerHTML = newVal;
}

function drawChart() {
    drawChart.threshold = 3;
    drawChart.lastMax = drawChart.lastMax || maxTemp;
    drawChart.lastMin = drawChart.lastMin || minTemp;
    if (chart == null)
    {
        chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    }

    if (maxTemp > (drawChart.lastMax + drawChart.threshold))
        drawChart.lastMax = maxTemp;

    if (minTemp < (drawChart.lastMin - drawChart.threshold))
        drawChart.lastMin = minTemp;

    chart_options.vAxis.minValue = minTemp - 1;
    chart_options.vAxis.maxValue = maxTemp + 1;
    chart.draw(chart_data, chart_options);
}

</script>

</head>
    <body>
        <div id="background">
            <h1 id="main_header" style="color: #32CD32">{{=message}}</h1>
            <br>
            <h2 id="status_header">Status</h2>
            <ul>
                <li><p id="cpu_temp_p">CPU Temp (F): -</p></li>
                <li><p id="gpu_temp_p">GPU Temp (F): -</p></li>
                <li><p id="ambient_temp_f_p">Ambient Temp (F): -</p></li>
                <li><p id="ambient_pressure_b_p">Ambient Pressure (Bar): -</p></li>
            </ul>
            <br>
            <h2>Output</h2>
            <button type="button" id="cycle_btn" onclick="visitCycleLink()">Cycle LEDs</button>
            <input type=number min=1 step=1 value=1 name="rate" id="rate">Rate (s)</input>
            <br>
            <h2>Input</h2>
            <button type="button" id="read_btn" onclick="readPinState()">Read Pin</button>
            <input type=number min=1 step=1 value=19 name="input_pin_input" id="input_pin_input">Pin Number</input>
            <p id="input_val_p">Input Value: X</p> 
            <div id="curve_chart" style="width: 900px; height: 300px; margin-left: -30px"></div>
        </div>
    </body>
</html>
